<br>
<div class="jumbotron">
  <a href="/" class="app-title">
    Discoverify
  </a>
  <p>Search for your favorite artists and discover new ones just like them!</p>
  <form class="form-group">
    <input class="form-control" id="focusedInput" type="text" placeholder="Enter an artist name" name="name">
    <br>
    <input class="btn btn-success" type="submit" value="Submit">
  </form>
</div>

<div>
  <% if @artists %>
    <h2>Search results</h2>
    <div>
      <ol>
        <% @artists.take(5).each do |artist| %>
          <br>
          <li>
            <div>
              <p><%= artist['name'] %></p>
              <% if artist['images'].any? %>
                <a href="/artists/?id=<%= artist['id']%>">
                  <img src=<%="#{artist['images'].first['url']}"%> alt="artist-image">
                </a>
              <% else %>
                <a href="/artists/?id=<%= artist['id']%>">
                  <img src="http://i.dailymail.co.uk/i/pix/2016/05/11/10/34091E0A00000578-3584384-image-a-8_1462957988141.jpg" alt="">
                </a>
              <% end %>
            </div>
          </li>
        <% end %>
      </ol>
    </div>
  <% end %>
</div>
