<!DOCTYPE html>
  <html>
  <head>
    <title>Spotify Discovery App</title>
    <link rel="stylesheet" type="text/css" media="all" href="/vendor/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/main.css" >
  </head>
  <body>
    <div class="container">
      <div class="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
