.results-list {
	padding: 0;
	list-style: none;
}

.results-list	li {
	display: inline-block;
	height: 600px;
	width: 49%;
}

.giphify-result {
	display: block;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: 50% 50%;
}
